body{
    margin: 0;
    text-align: center; /* it align evrything inside the body in center unless their "width is set"*/
    font-family: 'Merriweather',serif;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #2A2F4F;
    border-width: 5px;
    width: 2%;
}

#navDropdown{

}

#myHeader, #mynavHeader{
    position: fixed;
    top: 0;
    width: 100%
}



/*text styles*/

h1{
    color: #FDE2F3;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 2rem;
}

h2{
    color: #424874;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

.fname{
    color: #F6E5E5;
    padding-top: 2%;
    padding-bottom: 0px;
    font-family: Bebas Neue;
    font-size: 5rem;
    align: left;
}
.self_desc1{
    color: #F6E5E5;
    padding-top: 2%;
    padding-bottom: 0px;
    font-family: Bebas Neue;
    font-size: 4rem;
}

.self_desc2{
    color: #F6E5E5;
    padding-top: 0;
    padding-bottom: 10px;
    font-family: Bebas Neue;
    font-size: 4rem;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.pbot{
    color: #EAF6F6;
    font-size: 0.7rem;
    padding: 20px 0;
}

.Subjective{
    color:#F6E5E5;
    font-size:1.2rem;
}

p{
    line-height: 2; /* its like Line spacing in M.Word, it set the space 
    between line/per line's of the paragraph */
}

a{
    /*color: #2A2F4F;*/
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
 }
 
/* a:hover{
     color: #eaf6f6;
 }*/

 .nav-link{
    color: #F6E5E5;
 }

.footer-link{
    color: #F6E5E5;
    font-size: 15px;
}

.pmid{
    width: 30%;
    margin: auto auto 50px;
}

.code-skill-desc{
    /*clear: left; /* it prevent wripping itself with the item in right*/
    text-align: justify;
    }
    
.music-skill-desc{
    /*clear: right; /* it prevent wripping itself with the item in right*/
    text-align: justify;
}
.pasta-skill-desc{
    /*clear: right; /* it prevent wripping itself with the item in right*/
    text-align: justify;
}
.cam-skill-desc{
    /*clear: right; /* it prevent wripping itself with the item in right*/
    text-align: justify;
}

.vid-skill-desc{
    /*clear: right; /* it prevent wripping itself with the item in right*/
    text-align: justify;
}

/*div styles*/
#myHeader, #mynavHeader{
    background-color: #352961;
    position: relative;
   
}
.d-flex{
    padding-right: 30px;
}

.dtop{
    background-color: #352961;
    position: relative;
    padding: 50px;
}

.row_home{
    display: -webkit-flex;
  display: flex;
}
.clm_left{
    float="left";
    display="grid";
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
}

.clm_right{
    float="right";
    display="grid";
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
   
}
.profilepic_img{
 border-radius: 8px;
 width: 400px
 
}


.middle-container{
    margin: 100px auto;
}

.dbot{
    background-color: #352961;
    padding-bottom: 50px 0 20px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.socialmedia{
    background-color: #352961;
    padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

/*images styles*/
.code-img{
    width: 25%;
    float: right;
    margin-left:30px;
}

.music-img{
    width: 25%;
    float: right;
    margin-left: 100px;
}

.pasta-img{
    width: 25%;
    float: right;
    margin-left: 100px;
}

.camera-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.vid-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

/*button styles*/

.btn {
    background: #352961;
    background-image: -webkit-linear-gradient(top, #FF8DC7, #E5BEEC);
    background-image: -moz-linear-gradient(top, #FF8DC7, #E5BEEC);
    background-image: -ms-linear-gradient(top, #FF8DC7, #E5BEEC);
    background-image: -o-linear-gradient(top, #FF8DC7, #E5BEEC);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #816797;
    background-image: -webkit-linear-gradient(top, #E5BEEC, #FDE2F3);
    background-image: -moz-linear-gradient(top, #E5BEEC, #FDE2F3);
    background-image: -ms-linear-gradient(top, #E5BEEC, #FDE2F3);
    background-image: -o-linear-gradient(top, #E5BEEC, #FDE2F3);
    background-image: linear-gradient(to bottom, #E5BEEC, #FDE2F3);
    text-decoration: none;
  }